Repository Project-MONAI/monai-deploy, pull requests merged in 2021-09, with the labels that each got.

#21 server-api: Initial MONAID Server API
  server-api/grpc/common.proto
  server-api/grpc/error-code.proto
  server-api/grpc/job.proto
  server-api/grpc/map.proto
  server-api/grpc/payload.proto
  server-api/grpc/platform.proto
  server-api/grpc/user.proto
Labels: feature

#19 MONAI Application Packager (Packager)
  guidelines/MONAI-app-package-builder.md
Labels: guideline

#20 Update MONAI-Operating-Environments.md
  guidelines/MONAI-Operating-Environments.md
Labels: enhancement, guideline
